<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Clique Play > Music Player</title>
  <link href="main.css" rel="stylesheet"/>
</head>
<body class="player">
  <div class="yt" id="player"></div>
  <div class="playlist">
    <div class="searchbar" style="display:none;">
      <div class="addSong icon"></div>
      <form class="searchBox">
        <input placeholder="Enter song name and artist" type="text"/>
      </form>
    </div>
    <div class="toolbar">
      <div class="searchSong icon"></div>
      <div id="playPause" class="stopSong icon"></div>
      <div class="skipSong icon"></div>
      <div class="currentSongName"></div>
    </div>
    <div id="plist">
    </div>
  </div>
  <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/jquery.ui.touch-punch.min.js"></script>
  <script>

    var twitter = window.location.pathname;
    var host = window.location.host;
    var socket = io.connect(host);
    var player;
    var currentPlaylist = [];

    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        height: '100%',
        width: '100%',
        videoId: "lO45DNkBMi4", // loading animation video
        events: {
          'onReady': onYoutubeIframeAPILoaded,
          'onStateChange': onYoutubeIframeAPIUpdate
        }
      });
    }

    socket.on('connect', function () {
      console.log("connected to server");
      socket.emit("USE", twitter);
      $(".currentsongname").html("Waiting...");
    });

    socket.on('disconnect', function () {
      console.log("disconnected from server")
    });

    function nextSong() {
      socket.emit("next_song");
      console.log("requesting next song");
    }

    socket.on('next_song', function(obj) {
      console.log("got new song");
    });

    function playSong() {
      socket.emit("play_song");
    }

    socket.on('play_song', function(obj) {
      if (player) {
        player.playVideo();
        $("#playPause").removeClass("playIcon").addClass("stopIcon");
      }
    });

    function stopSong() {
      socket.emit("stop_song");
    }

    socket.on('stop_song', function() {
      if (player) {
        player.pauseVideo();
        $("#playPause").removeClass("stopIcon").addClass("playIcon");
      }
    });

    function onYoutubeIframeAPILoaded() {
        playSong();
        nextSong();
    }

    function onYoutubeIframeAPIUpdate(event) {
      if (event.data == YT.PlayerState.PLAYING) playSong();
      if (event.data == YT.PlayerState.PAUSED) stopSong();
      if (event.data == YT.PlayerState.ENDED) {
        console.log("Song Finished");
        nextSong();
      }
    }

    $(".toolbar").on("click",".stopSong, .playSong", function(e) {
      if ($("#playPause").hasClass("stopIcon")) {
        stopSong();
      } else {
        playSong();
      }
    });

    $("#plist").sortable({
      axis: "y",
      handle: ".handle",
      containment: "document",
      tolerance: "pointer",
      stop: function( event, ui ) {
        editedPlaylist();
      }
    });

    $("#plist").on("click",".trash", function(e) {
      $(this).parent().remove();
      editedPlaylist();
    });

    function editedPlaylist() {
      var newList = [];
      newList.push(JSON.parse($(".currentSongName .data").html()));
      $("#plist li:not(.ui-sortable-placeholder)").each( function() {
        newList.push(JSON.parse($(this).find(".data").html()));
      });
      socket.emit("update_playlist", {playlist: newList});
    }

    socket.emit("load_playlist",{});
    socket.on('load_playlist', function(newPlaylist) {
      $("#plist").html("");
      newSong = newPlaylist[0];

      // play the first song, if not different then don't reload

      if (player && newSong && currentPlaylist && JSON.stringify(newSong) != JSON.stringify(currentPlaylist[0]))  {
        player.loadVideoById(newSong.id, 0, "large");
        $(".currentSongName").html(newSong.title + '<div class="data">' + JSON.stringify(newSong) + '</div>').addClass(newSong.source);
        console.log("Playing: " + newSong.title);
      }

      for(var i = 1; i < newPlaylist.length; i++) {
        var h = '<li class="pitem ' + newPlaylist[i].source + '"><div class="handle icon"></div><span class="title">' + newPlaylist[i].title + '</span>' +
          '<div class="data">' + JSON.stringify(newPlaylist[i])  + '</div><div class="trash icon"></div></li>';
        $("#plist").append(h);
      }
      currentPlaylist = newPlaylist;
    });

    $(".skipSong").click( function () {
      nextSong();
    });

    $(".searchSong").click( function() {
      $(".searchbar").toggle();
      $(".searchbar input").focus();
    });

    // Add a new song by pressing enter or clicking the add button
    function addSong() {
      socket.emit("song_request", { q: $(".searchbar input").val() });
      $(".searchbar input").val("");
      $(".searchbar").hide();
    }

    $(".addSong").click( function(e) {
      e.preventDefault();
      addSong();
    });

    $(".searchBox").submit(function (e){
      e.preventDefault();
      addSong();
    });


  </script>
</body>
</html>
